body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

iframe {
    position: absolute;
}

.background {
    background-image: url(background.jpg);
    background-size: cover;
}

.greetings {
    height: 100vh;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-transform: capitalize;
    color: #26272d;
    margin-top: 0;
    padding-top: 50px;
}

.greetings h1 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 20px;
}

.greetings strong, .preview_block strong {
    text-transform: capitalize;
    color: #997701;
    font-weight: 400;
}

.greetings p {
    font-size: 14px;
    color: #997701;
    margin: 2px;
    font-weight: 300;
}

.greetings .upload_button {
    color: #997701;
    border: 1px solid #997701;
    border-radius: 20px;
    line-height: 40px;
    width: 160px;
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    font-weight: 300;
    position: relative;
    padding: 10px 20px;
}

.upload_button input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;

}

.upload_button input {
    cursor: pointer;
}

.greetings .upload_button:hover {
    cursor: pointer;
    background-color: #997701;
    color: white;
}

.preview_block {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.preview_block .background, #preview {
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    margin-top:7vh;
    margin-bottom: 23vh;
    position: relative;
}

.preview_block .background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview_block .background {
    opacity: .7;
}

select, label, p.label {
    text-align: left;
    font-size: 14px;
}

p.label {
    color: black;
    margin: 0;
}

.settings {
    height: 100px;
    width: 435px;
    margin: 0 auto;
}

select {
    border: 1px solid #997701;
    color: #997701;
    height: 30px;
    padding-right: 5px;
    min-width: 50px;
}

.preview {
    display: none;
}